{% extends 'base.html.twig' %}

{% block title %}Hello ImageController!{% endblock %}

{% block body %}


    <div class="container">
        <div class="mt-5 mb-5">

            <div class="">
                <a class="btn btn-secondary" href="{{ path('app_product_index') }}">show products</a>
            </div>

            <div class="row d-flex align-items-center">
                {% for image in product.images %}
                    <div class="col-3 card p-0 m-1">
                        <img height="400px" width="auto" src="{{ vich_uploader_asset(image, 'imageFile')}}"  alt="">
                        <a href="{{ path('remove_image', {id:image.id}) }}" class="btn btn-danger">delete image</a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="mt-5">
            {{ form_start(formImage, {'action': path('add_image', {id:product.id}), 'method': 'POST'}) }}
            <div class="d-flex mt-3">
                {{ form_widget(formImage.imageFile)}}
                <button type="submit" class="btn btn-success">save</button>
            </div>
            {{ form_end(formImage) }}
        </div>

    </div>



{% endblock %}