{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="container">
        <div class="mt-5">
            <div class="">
                <a class="btn btn-secondary mt-1 mb-1" href="{{ path('app_admin') }}">return</a>
            </div>
            <hr>

            <h1 class="text-light">Product index</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>QR Code</th>
                    <th>Images</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }} €</td>
                        <td>
                            {% set qrCode = product.qrcode %}
                            <img src="{{ qrCode }}" width="100px" />
                        </td>
                        <td>
                            {% for image in product.images %}
                                <img src="{{ vich_uploader_asset(image, 'imageFile') }}" class="" alt="" height="80px">
                            {% endfor %}
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                            <a class="btn btn-warning" href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                            <a href="{{ path('app_image', {id:product.id}) }}" class="btn btn-success ">manage pictures</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-success" href="{{ path('app_product_new') }}">Create new</a>
        </div>
    </div>
{% endblock %}
